<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.dexterous.flutterlocalnotifications">
    <application>
        <service android:name="com.dexterous.flutterlocalnotifications.FlutterActionService" android:exported="false">
            <intent-filter>
                <action android:name="FLUTTER_BUTTON"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>
